<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="top">
                <p class="topA">
                    <a href="#">로그인</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">회원가입</a>
                </p>
            </div>
            <div class="main"><h1>Library Board</h1></div>
        </header>
        <section>
            <article class="main">
                <ul class="selectBox">
                    <a href="#"><li class="box box1"><p>게시판 입장</p></li></a>
                    <a href="#"><li class="box box2"><p>게시글 작성</p></li></a>
                    <a href="#"><li class="box box3"><p>로그인</p></li></a>
                </ul>
            </article>
            <article class="bookRecommended"></article>
        </section>
        <footer>footer</footer>
    </div>
</body>
</html>