<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="top">
                <p class="topA">
                    <a href="/login">로그인</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">회원가입</a>
                </p>
            </div>
            <div class="main">
                <h1><a href="/">Library Board</a></h1>
                <div id="isLogin">
                    <p th:if="${member == null}"> 로그인을 해주세요. </p>
                    <p th:if="${member != null} "> 환영합니다, <p th:text="${member}"> 님. </p>
                </div>
            </div>
        </header>
        <section>
            <article class="main">
                <ul class="selectBox">
                    <a href="/board/list"><li class="box box1"><p>게시판 입장</p></li></a>
                    <a href="/board/insert"><li class="box box2"><p>게시글 작성</p></li></a>
                    <a href="/login"><li class="box box3"><p>로그인</p></li></a>
                </ul>
            </article>
            <article class="bookRecommended">
                <img src="/image/Book1.jpg" alt="1" class="img">
                <img src="/image/Book2.jpg" alt="1" class="img">
                <img src="/image/Book3.jpg" alt="1" class="img">
                <img src="/image/Book4.jpg" alt="1" class="img">
                <img src="/image/Book5.jpg" alt="1" class="img">
                <img src="/image/Book6.jpg" alt="1" class="img">
                <img src="/image/Book7.jpg" alt="1" class="img">
            </article>
        </section>
        <footer>footer</footer>
    </div>
</body>
</html>