<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/loginStyle.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function (){
            $("#btnLogin").click(function (){
                var userId = $("#userId").value()
                var userPw = $("#userPw").value()
                if(userId == ""){
                    alert("아이디를 입력하세요")
                    $("#userId").focus()
                    return
                }
                if(userPw == "") {
                    alert("비밀번호를 입력하세요")
                    $("#userId").focus()
                    return
                }
                document.form1.action="${path}/loginCheck"
                document.form1.submit()
            })
        })
    </script>
</head>
<body>
<div id="container">
    <header>
        <div class="top">
            <p class="topA">
                <a href="/login">로그인</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">회원가입</a>
            </p>
        </div>
        <div class="main">
            <h1><a href="/">Library Board</a></h1>
        </div>
    </header>
    <section>
        <article id="loginForm">
            <h1>로그인</h1>
            <form action="/loginCheck" class="form-inline" method="post">
                <div class="form-group"><label>ID : &nbsp;&nbsp; </label><input type="text" class="form-control" id="userId" name="id"></div><br>
                <div class="form-group"><label>PW : &nbsp; </label><input type="password" class="form-control" id="userPw" name="pw"></div><br>
                <input type="submit" value="로그인" class="form-control" id="btnLogin" name="form1">
                <p th:if="isLoggedinSucsses == false" style="color: red">로그인에 실패했습니다!</p>
            </form>
        </article>
    </section>
    <footer>Copyright ⓒ 2020-11-02 임동우</footer>
</div>
</body>
</html>